body {
	width: 100%;
}

.antialiased {
	background: #000;
	width: 100%;
	margin: 0;
	padding: 0;
}


/*NAVBAR*/
.navbar {
	/*background: red;*/
	color: #fff;
	width: 100%;
	padding: 0;
	margin: 0;
}

.navbar .navigation li {
	display: inline-block;
    float: none;
}

.navigation {
  list-style-type: none;
  margin: auto;
  width: 100%;
  text-align: center;
  padding: 0;
  overflow: hidden;
}

.navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding-right: 96px;
  padding-left: 96px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-decoration: none;
}
/*END OF NAVBAR*/




/*BODY*/

.home-page {
	margin-top: 5%;
}

.landing-page-img {
	width: 100%;
}

.top-section {
	display: flex;
}

.welcome-text {
	margin-top: 70%;
	color: #fff;
}

.home-btn {
	background: red;
}

.wrapper {
  margin: 50px auto;
  width: 900px;
  height: 500px;
  background-size: 100% 100%;
}

.wrapper .text-overlay .header #logo {
    font-size: 19px;
    font-family: sans-serif;
    letter-spacing: 0.5em;
    border: 2px solid white;
    padding: 5px 2px 5px 10px;
    margin-left: 10px;
}

.wrapper .btn {
	background: #fff;
	color: #000;
	padding-left: 10%;
	padding-right:10%;
	border-radius: 0;
}


/*second home page section text only*/
.home-page-intro {
	text-align: center;
	margin-top: 10%;
}

.home-page-intro p {
	width: 80%;
	margin: 0 auto;
	color: #fff;
}


.hr-line {
	margin-top: 10%;
	border-top: 1px solid #fff;
}


/*our journey*/

.our-journey {
	margin-top: 10%;
}

.our-journey h1 {
	text-align: center;
	margin-bottom: 5%;
	color: #fff;
}

.our-journey p {
	width: 70%;
	margin: 0 auto;
	color: #fff;
}


/*below products*/

.below-products {
	margin-top: 10%;
}

.below-products p {
	width: 70%;
	margin: 0 auto;
	color: #fff;
}


/*END OF BODY*/






/*NEWSLETTER SECTION*/
.newsletter {
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
}

.newsletter h2 {
	text-transform: uppercase;
	color: #fff;
}
input[name="newsletter"] {
	margin-top: 20px;
    width: 450px;
    height: 40px;
    padding-right: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

input[type="submit"] {
    margin-left: -70px;
    height: 40px;
    width: 70px;
    color: #000;
    background: transparent;
}


/*FOOTER SECTION*/

/*.footer-section-top {
	margin-bottom: 20%;
}*/

.footer-logo-bottom {
	padding-top: 10%;
	padding-bottom: 5%;
}

.footer-section-top li {
	color: #fff;
}

.footer-section-top a {
	background: red;
	text-decoration: none;
}

.footer-section-top li:hover {
	color: red;
}

.footer-section-top ul Link {
	background: red;
}



/*NFTs PAGE*/
.first-nft-section {
	margin-top: 5%;
	margin-bottom: 5%;
}

.first-nft-section .first-container {
	margin-top: 10%;
	height: 200px;
}

.first-nft-section p {
	color: #fff;
}

.first-nft-section h2 {
	color: #fff;
	text-transform: uppercase;
}

.second-nft-section .second-container {
	margin-top: 20%;
	height: 200px;
}

.second-nft-section p {
	color: #fff;
}

.second-nft-section h2 {
	color: #fff;
	text-transform: uppercase;
}

.third-nft-section {
	text-align: center;
	padding: 180px 0;
}

.third-nft-section p {
	color: #fff;
}

.third-nft-section h1 {
	color: #fff;
	text-transform: uppercase;
}

.forth-nft-section {
	margin-bottom: 10%;
}

.forth-nft-section .forth-container {
	margin-top: 10%;
	height: 200px;
}

.forth-nft-section p {
	color: #fff;
}

.forth-nft-section h2 {
	color: #fff;
	text-transform: uppercase;
}





/*PRODUCT DETAIL*/
.product-detail-container {
	padding-left: 90px;
}

.product-name {
	color: #fff;
}
 
.product-price {
	color: #fff;
}

.product-description {
	color: #fff;
}

.text-container {
	background: green;
	width: 100%;
}

.product-detail-name {
	color: #fff;
	text-decoration: none;
}

.product-detail-price {
	
}


/*ABOUT PAGGE*/
.first-about-section {
	margin-top: 5%;
}

.first-about-section .first-container {
	margin-top: 25%;
	height: 200px;
}

.first-about-section p {
	color: #fff;
}

.second-about-section {
	margin-top: 5%;
}

.second-about-section .second-container {
	margin-top: 25%;
	height: 200px;
}

.second-about-section p {
	color: #fff;
}

.third-about-section {
	margin-top: 5%;
	margin-bottom: 10%;
}

.third-about-section .third-container {
	margin-top: 25%;
	height: 200px;
}

.third-about-section p {
	color: #fff;
}


