body {
	width: 100%;
}

.antialiased {
	background: #000;
	color: #fff;
	width: 100%;
	margin: 0;
	padding: 0;
}

.footer-logo-bottom {
	margin-top: 90px;
}



/*NAVBAR*/
.navbar {
	background: red;
	color: #fff;
	width: 100%;
	padding: 0;
	margin: 0;
}
/*END OF NAVBAR*/




/*BODY*/

.home-page {
	margin-top: 5%;
}

.landing-page-img {
	width: 100%;
}

.top-section {
	display: flex;
}

.welcome-text {
	margin-top: 70%;
}

.home-btn {
	background: red;
}

.wrapper {
  margin: 50px auto;
  width: 900px;
  height: 500px;
  background-size: 100% 100%;
}

.wrapper .text-overlay .header #logo {
    font-size: 19px;
    font-family: sans-serif;
    letter-spacing: 0.5em;
    border: 2px solid white;
    padding: 5px 2px 5px 10px;
    margin-left: 10px;
}

.wrapper .btn {
	background: #fff;
	color: #000;
	padding-left: 10%;
	padding-right:10%;
	border-radius: 0;
}


/*second home page section text only*/
.home-page-intro {
	text-align: center;
	margin-top: 10%;
}

.home-page-intro p {
	width: 80%;
	margin: 0 auto;
}


.hr-line {
	margin-top: 10%;
	border-top: 1px solid #fff;
}


/*our journey*/

.our-journey {
	margin-top: 10%;
}

.our-journey h1 {
	text-align: center;
	margin-bottom: 5%;
}

.our-journey p {
	width: 70%;
	margin: 0 auto;
}


/*below products*/

.below-products {
	margin-top: 10%;
}

.below-products p {
	width: 70%;
	margin: 0 auto;
}


/*END OF BODY*/






/*NEWSLETTER SECTION*/
.newsletter {
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
}







