.navbar {
	background: red;
	color: #fff;
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	width: 100%;
}

.antialiased {
	background: #000;
	color: #fff;
	width: 100%;
	margin: 0;
	padding: 0;
}

.footer-logo-bottom {
	margin-top: 90px;
}

